@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Lato&family=Nothing+You+Could+Do&family=Solitreo&display=swap');


* {
    box-sizing: border-box;
}

.boton{
    /* background-color: #ffb700; */
    background-color: #fff5db;
    /* background-color: #f4efe2; */
    padding: 2;
    border: 1px;
}

.body {
    /*background-color: #ffe7ac;*/
    background-color: #fff5db;
    overflow-x: hidden;
}
.HeaderWrap {
    /*display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100%;
    /*background-color:  #cac8c4;*/
    background-color: #f4efe2;
    overflow: hidden;
 
}
.imagenlibros {
    width: 80%;
    height: 80%;
    object-fit: contain;
    
}
.TextoWrap {
    /* background-color: #f4efe2; */
    /* background-color: #f4e2e5; */
    background-color: #e7e0e1d7;
}

.Animate {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 2rem;
    /*text-shadow: 1px 1px 0px #000000;*/
}


.navbar{
  background-color: #FFA000;
}

.GuadaLujan {
    color: black;
    font-family: 'Fredericka the Great';
    font-size: 2.5 rem;
    font-weight: 500;
}

#Clases {
  background: url('./waves.png') no-repeat bottom; 
  background-size: cover;
  /* padding-bottom: 120px; */
}

.zarlanga{
  background: url('./blob\ \(1\).svg') no-repeat center; 
  background-size: cover;
}
#Contacto {
  background: url('./waves.png') no-repeat bottom; 
  background-size: 100% 40%;
  
/*   
  background-size: auto;
  height: 8%; */
  /* padding-bottom: 120px; */
}
.titulo{
    font-family: 'Montserrat', sans-serif;    
    font-weight: 400;
}

.Clases {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.3rem;
    line-height: 30px;
}

.cardOpiniones {    
    padding: 1rem 1rem;
    display: flex;
    height: 270px;
    align-items: center;
    background-color: #fff;    
}

.CardsClases {
    background-color: #FFE0B2;
    /*border-width: 2px; 
    border-style: solid;
    border-color: #FF9800;*/
}

.CardsClases2 {
    background-color: #FF9800; 
}

.gracias {    
    background-size: cover;
    position: relative;
    color:white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100vh;*/
}


/*OPINIONES*/


.slide-container{
    max-width: 1120px;
    width: 100%;
    /* padding: 40px 0; */
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .kard{
    height: 280px;
  }
  
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
 
  .button:hover{
    background: #265DF2;
  }
  
  .swiper-navBtn{
    color: #FF9800;
    transition: color 0.3s ease;
    margin: 0;
  }
  .swiper-navBtn:hover{
    color: #FF5722;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
 
  .swiper-pagination-bullet{
    background-color: #FF9800;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #FF5722;
  }
/* .coloresposibles{
  background-color:#ffe7ac;
  background-color:#ffb700;
  background-color:#FF9800; 
  background-color: #FFC107; 
  background-color:#F57C00; 
  background-color:#FF5722;
      
  
} */
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }

    .gracias {    
        width: 100%;
        height: 50%;
        background-size:100%;
        background-color: #1F2022;
        background-position: center;
        background-repeat: no-repeat;
        padding: 0px;
        position: absolute;
        color:white;
        display: flex;
        align-items: center;
        justify-content: center;
  }
}